<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>联系我们</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/css/header.css">
	<link rel="stylesheet" href="style/css/footer.css">
	<link rel="stylesheet" href="style/css/contactUs.css">
	<!-- [if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.js"></script>
	<![endif] -->
</head>
<body>
	<script src="js/jquery.min.js"></script>
	<div class="head" id="header"></div>

	<div class="main">
		<div class="banner">
			<img src="img/topPic.png">
		</div>
		<div class="con">
			<div class="effectBox">
				<div class="ebLeft">
					<p class="chinese">联系我们</p>
					<p class="eng">Contact Us</p>
				</div>
				<div class="ebRight">
					当前位置：首页/联系我们
				</div>
			</div>
			<div class="contBox">
				<div class="title">手拉手有限公司</div>
				<ol>
					<li>邮箱：12323234@qq.com</li>
					<li>邮编：123412</li>
					<li>电话：12332452345</li>
					<li>地址：事啦开发接口将诶接</li>
				</ol>
				<div class="map">
					<iframe src="map.html"  frameborder="0"  width="100%"  height="400"></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="foot" id="footer"></div>


</body>
</html>