<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta charset="utf-8"> -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- SEO -->
  <meta name="author" content="宫关，杭州宏服软件有限公司">
  <meta name="keywords" content="温州,机场,人才招聘,热招岗位，通知公告，春季招聘，秋季招聘">
  <meta name="description" content="温州机场集团有限公司招聘系统">
  <meta name="robots" content="noindex" />
  <meta name="robots" content="index" />
  <!-- 渲染机制 -->
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <title>温州机场集团有限公司招聘系统</title>
  <!--[if lt IE 9]>
		<scriptsrc="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body>
  <header class="head" id="header"></header>

  <div class="main">
    <div class="banner">
      <img src="../../assets/img/topPic.png">
    </div>
    <div class="con">
      <div class="effectBox">
        <div class="ebLeft">
          <p class="chinese">联系我们</p>
          <p class="eng">Contact Us</p>
        </div>
        <div class="ebRight">
          当前位置：首页/联系我们
        </div>
      </div>
      <div class="contBox">
        <div class="title">手拉手有限公司</div>
        <ol>
          <li>邮箱：12323234@qq.com</li>
          <li>邮编：123412</li>
          <li>电话：12332452345</li>
          <li>地址：事啦开发接口将诶接</li>
        </ol>
        <div class="map">
          <iframe src="/map.html" frameborder="0" width="100%" height="400"></iframe>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="foot" id="footer"></footer>

</body>

</html>
