<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta charset="utf-8"> -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- SEO -->
	<meta name="author" content="宫关，杭州宏服软件有限公司"> 
	<meta name="keywords" content="温州,机场,人才招聘,热招岗位，通知公告，春季招聘，秋季招聘">
	<meta name="description" content="温州机场集团有限公司招聘系统">
	<meta name="robots" content="noindex" />
	<meta name="robots" content="index" />
	<!-- 渲染机制 -->
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
	<title>温州机场集团有限公司招聘系统</title>
	<!--[if lt IE 9]>
		<scriptsrc="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<header class="head" id="header"></header>
	<div class="main">
		<div class="banner">
			<img src="../../assets/img/banner.png">
		</div>
		<div class="con">
			<div class="jobs">
				<div class="typeName">
					<div class="jLeft"><i class="line"></i>热招岗位 <b class="eng">RECRUITMENT</b></div>
					<div class="jRight">更多+</div>
				</div>
				<table>
					<thead>
						<tr class="title">
							<th>招聘渠道</th>
							<th>招聘岗位</th>
							<th>招聘部门</th>
							<th>学历要求</th>
							<th>专业要求</th>
							<th>招聘人数</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="jCon">
							<td class="channel">社会招聘</td>
							<td class="jobName"><a href="">人力资源管理专员</a></td>
							<td class="depart">人力资源部</td>
							<td class="education">本科及以上</td>
							<td class="about">人力资源管理相关</td>
							<td class="num">1</td>
							<td class="check"><a href="">查看/应聘</a></th>
						</tr>
						<tr class="jCon">
							<td class="channel">社会招聘</td>
							<td class="jobName"><a href="">人力资源管理专员</a></td>
							<td class="depart">人力资源部</td>
							<td class="education">本科及以上</td>
							<td class="about">人力资源管理相关</td>
							<td class="num">1</td>
							<td class="check"><a href="">查看/应聘</a></th>
						</tr>
						<tr class="jCon">
							<td class="channel">社会招聘</td>
							<td class="jobName"><a href="">人力资源管理专员</a></td>
							<td class="depart">人力资源部</td>
							<td class="education">本科及以上</td>
							<td class="about">人力资源管理相关</td>
							<td class="num">1</td>
							<td class="check"><a href="">查看/应聘</a></th>
						</tr>
						<tr class="jCon">
							<td class="channel">社会招聘</td>
							<td class="jobName"><a href="">人力资源管理专员</a></td>
							<td class="depart">人力资源部</td>
							<td class="education">本科及以上</td>
							<td class="about">人力资源管理相关</td>
							<td class="num">1</td>
							<td class="check"><a href="">查看/应聘</a></th>
						</tr>
						<tr class="jCon">
							<td class="channel">社会招聘</td>
							<td class="jobName"><a href="">人力资源管理专员</a></td>
							<td class="depart">人力资源部</td>
							<td class="education">本科及以上</td>
							<td class="about">人力资源管理相关</td>
							<td class="num">1</td>
							<td class="check"><a href="">查看/应聘</a></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="others">
				<div class="notice">
					<div class="typeName">
						<div class="jLeft"><i class="line"></i>通知公告 <b class="eng">ANNOUNCENEBT</b></div>
						<div class="jRight">更多+</div>
					</div>
					<div class="contBox">
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法</div>
							<div class="cTime">2010/10/10</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法</div>
							<div class="cTime">2010/10/10</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法</div>
							<div class="cTime">2010/10/10</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法</div>
							<div class="cTime">2010/10/10</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法</div>
							<div class="cTime">2010/10/10</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法</div>
							<div class="cTime">2010/10/10</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦法</div>
							<div class="cTime">2010/10/10</div>
						</div>
					</div>
				</div>
				<div class="question">
					<div class="typeName">
						<div class="jLeft"><i class="line"></i>常见问题 <b class="eng">COMMON PROBLEM</b></div>
						<div class="jRight">更多+</div>
					</div>
					<div class="contBox">
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
						<div class="item">
							<div class="cInfo">【5.8】浙商保险罗斯福师大撒旦法师大撒旦法保险罗斯福师大撒旦法浙商保险罗斯福师大撒旦</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="foot" id="footer"></footer>
</body>
</html>