<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>个人中心</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/css/iconfont.css">
	<link rel="stylesheet" href="style/css/header.css">
	<link rel="stylesheet" href="style/css/footer.css">
	<link rel="stylesheet" href="style/css/center.css">
	<!--[if lt IE 8]>
		<script>
			alert('请去官网升级到ie8及以上版本或使用其他浏览器,建议使用谷歌浏览器')
		</script>
	<![endif]-->
	<!-- [if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.js"></script>
	<![endif] -->
</head>
<body>
	<script src="js/jquery.min.js"></script>
	<div class="head" id="header"></div>

	<div class="main">
		<div class="banner">
			<img src="img/topPic.png">
		</div>
		<div class="con">
			<div class="effectBox">
				<div class="ebLeft">
					<p class="chinese">个人中心</p>
					<p class="eng">Center</p>
				</div>
				<div class="ebRight">
					当前位置：首页/个人中心
				</div>
			</div>
			<div class="contBox">
				<div class="item">
					<a href="myInfo.html">
						<div class="iconfont icontongzhi"></div>
						<p>我的消息</p>
					</a>
				</div>
				<div class="item">
					<a href="resume.html">
						<div class="iconfont icontoujianli"></div>
						<p>我的简历</p>
					</a>
				</div>
				<div class="item">
					<a href="record.html">
						<div class="iconfont iconcombinedshape"></div>
						<p>投递记录</p>
					</a>
				</div>
				<div class="item no">
					<div class="iconfont iconshenfenzheng"></div>
					<p>准考证打印</p>
				</div>
				<div class="item no">
					<div class="iconfont iconchengji"></div>
					<p>笔试成绩</p>
				</div>
				<div class="item no">
					<div class="iconfont iconchengji"></div>
					<p>面试成绩</p>
				</div>
				<div class="item no">
					<div class="iconfont iconchengji"></div>
					<p>总成绩</p>
				</div>
				<div class="item no">
					<div class="iconfont iconfankuitianbao"></div>
					<p>问题反馈</p>
				</div>
				<div class="item no">
					<div class="iconfont icongongnengguanli"></div>
					<p>更多功能</p>
				</div>

			</div>
		</div>
	</div>

	<div class="foot" id="footer"></div>


</body>
</html>